

.clearfix:after  {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.siteTitle {
    display: inline-block;
    padding-left: 1em;
    margin: 0 auto;
}

.siteTitle a {
    text-decoration: none;
    font-family: 'Coiny', cursive;
    color: white;
}

header p {
    display: inline-block;
    padding-left: 1%;
    font-family: 'Rubik', sans-serif;
    color: darkgray;
}

header a {
    display: inline-block;
    padding: 10px 10px;
    font-family: 'Rubik', sans-serif;
}


header {
    background-color: #1DE9B6;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li {
    float: right;
}

header li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
    font-weight: bold;
    color: white;
}

header li a:hover {
    background-color: #00BFA5;
}



nav .sortingNav {
    background-color: #1DE9B6;
}

nav .sortingNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav .sortingNav li {
    float: left;
}

nav .sortingNav li a {
    padding: 14px 16px;
    color: white;
    font-weight: bold
}

nav .sortingNav li a:hover {
    background-color: #00BFA5;
}

main ul .post-indiv{
    width: 100%;
}

main ul p {
    display: inline-block;
    float: left;
    padding: 2%;
    font-family: 'Rubik', sans-serif;
    color: #1DE9B6;
}


.button-container {
    float: left;
    padding: 2%;
}

main ul li {
    float: left;
    list-style-type: none;
}

main ul li a {
    float: left;
    font-family: 'Rubik', cursive;
}

main ul li p {
    float: left;
}

button {
    background-color: #1DE9B6;
    border: none;
    color: white;
    font-family: 'Rubik', cursive;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 10em;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 2em;
}

.votescore {
    margin: 0;
    font-size: x-large;
}



.post-indiv {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    margin: 0px;
}

.post-indiv p {
    margin: 0px;
}

.signUp form{
    color: darkgray;
    font-family: 'Rubik', cursive;
    padding-left: 1em;

}

.signUp button{
    color: white;
    font-family: 'Rubik', cursive;
}

.logIn form{
    color: darkgray;
    font-family: 'Rubik', cursive;
    padding-left: 1em;
}

.logIn button{
    color: white;
    font-family: 'Rubik', cursive;
}

.createPost form{
    color: darkgray;
    font-family: 'Rubik', cursive;
    padding-left: 1em;
}

.createPost button{
    color: white;
    font-family: 'Rubik', cursive;
}

.logOut {
    color: darkgray;
    font-family: 'Rubik', cursive;
    padding-left: 1em;
}

main {
    color: darkgray;
    font-family: 'Rubik', cursive;
}

footer {
    background-color: #1DE9B6;
    color: white;
    font-family: 'Rubik', cursive;
    width:100%;
    text-align: center;
    margin: 1em 0;
    padding: 0.1em 0;
}

.upvote {
    background-color: #ff4165;
}

.downvote {
    background-color: 	#5c573b;
}