extends layout.pug

block title
 title Reddit Clone Homepage

block content
 h1 Today's Hottest Posts
 
 ul
 each val in posts
  li 
   a(href= val.postURL)= val.title
   p= 'by ' + val.user.username
   