extends layout.pug

block title
 title create new post form

block content
  form(action='/createPost', method='POST')
    div
      p Your Post Title
      input(type="text", name="title", placeholder="What's the title of your post?")
    div
      p Your Post Link
      input(type="text", name="url", placeholder="Submit the link of your post?")
      p Subreddit
    div
      select(name='subredditName')
        option(value='food') Food
        option(value='animals') Animals
        option(value='funny') Funny
        option(value='dogs') Dogs
        option(value='askReddit...') askReddit...
        option(value='sports') Sports
    p Make your own Sub
    // input(type= 'text', name='DIYSub', placeholder='Make your own Sub')
        // option(value='askReddit...') Default
    br
    button(type="submit") Submit post!