form(action='/createpost', method='POST')
  div
    p New Post Title
    input(type="text", value="Title", placeholder="What's your post?")
  div
    p The url link
    input(type="text", value="url", placeholder="Submit the link of your post")
  br
  button(type="submit") Submit post!