form(action='/createPost', method='POST')
  div
    p Your Post Title
    input(type="text", name="title", placeholder="What's the title of your post?")
  div
    p Your Post Link
    input(type="text", name="url", placeholder="Submit the link of your post?")
    p Subreddit
  div
    select(name='subredditName')
      option(value='food') Food
      option(value='animals') Animals
      option(value='funny') Funny
      option(value='dogs') Dogs
      option(value='askReddit') askReddit...
      option(value='sports') Sports
      option(value='askReddit') Default
  br
  button(type="submit") Submit post!