extends layout.pug

block title
 title Reddit Clone Homepage

block content
 #top
  h1 HOT AS CRAP
  
  #nav
   ul
     li
       a(href='/') Home
     li
       a(href='createPost') Submit a Post
     li
       a(href='/about') About
  
   p Logged in as hot user,
    a(href='/logout') Log out!

 ul
 each val in posts
  li 
   a(href= val.postURL)= val.title
   p= 'by ' + val.user.username
   