extends layout.pug

block title
 title log in form

block content
 form(action="/login", method="POST")
   div
    p Username
    input(type="text", name="username", placeholder="Username")
   div 
    p Password
    input(type="password", name="password", placeholder="Password")
   br
   button(type="submit") Log me in! 
