form(action='/signup', method='POST')
  div
    p Choose your user name
    input(type="text", name="Choose user name", placeholder="how do you call yourself?")
  div
    p Set password
    input(type="text", name="Password", placeholder="Super secret")
  div
    p Confirm your password
    input(type="text", name="Confirm Password", placeholder="Type again!")
  div
    p Email address
    input(type="text", name="Email", placeholder="Your email address")
  br
  button(type="submit") Sign up!

    