extends layout.pug

block title
 title subredditposts

block content
 h1= 'Thanks for your post! You might like: ' + posts[0].name
 ul
 each val in posts
  li 
   h2
    a(href= val.url)= val.title
 
 a(href='/') Back to homepage
